/*For the header*/
.god-container{
    width: 1920px;       /* Forces the layout to strict pixels */
    max-width: 100%;     /* Prevents side-scroll on small phones */
    position: relative;  /* Creates the boundary for absolute positioning */
    overflow-x: hidden;
}
a{
    z-index: 3;
}
.header{
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}
/*Left Half*/
.left-half{
    margin-left: 3%;
    font-size: 120%;
    color: white;
    font-family: 'Roboto';
}
.left-half a{
    transition: color 0.3s ease;
}
.left-half:hover a{
    color:orange;
}
/*Right Half*/
.right-half{
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: white;
    height: 100%;
}
/*Select modification*/
.selector{
    transition: color 0.3s ease;
}
.selector:hover{
    color: orange;
}
@font-face {
    font-family: 'Roboto';
    src: url(Roboto-VariableFont_wdth,wght.ttf);
}
#login{
    display: static;
    text-decoration: none;
    color: white;
    font-family: 'Roboto';  
    font-weight: 800;
    font-stretch: ultra-condensed;
    transition: color 0.3s ease;
    font-size: 120%;
}
.button-link {
    height: 100%;
    display: flex;
    align-items: stretch;
    text-decoration: none;
    text-transform: uppercase;
    padding: 3% 2%;
    appearance: none;
    background-color: rgb(255, 191, 0);
    font-weight: 800;
    font-size: 220%;
    font-stretch: ultra-condensed;
    color: black;
    transition: background-color 0.3s ease;
    font-family: 'Roboto';
}
.button-link:hover{
    background-color: rgb(255, 136, 0);
}

.tilde{
    color: white;
}
.header select{
    text-transform: uppercase;
    appearance: none;
    border: none;
    background-color: transparent;
    color: inherit;
    font-family: 'Roboto';
    font-weight: bold;
    font-size: 120%;
    font-stretch: ultra-condensed;
    transition: color 0.3s ease;
}
#login:hover{
    color:orange;
}
#logo{
    width: 20%;
    margin-right: 20%;
}
.left-half a, .nav-links a{
    text-decoration: none;
    color: white;
    text-transform: uppercase;
    font-weight: bold;
}
.nav-links{
    display: flex;
    background-color: #222;
    align-items: center;
    justify-content: space-evenly;
    font-family: 'Roboto';
    font-size: 120%;
    font-weight: bolder;
    padding: 0px 10%;
}
.nav-links a{
    padding: 1% 0%;
    transform: scale(0.8,1);
    transition: transform 0.3s ease, color 0.3s ease;
}
.nav-links a:hover{
    color: orange;
}
@font-face{
    font-family: 'Pubg Sans';
    src: url(PUBG_SANS.ttf);
}
.container{
    background: 
    linear-gradient(to top, black 0%, transparent 50%),
    linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), 
    url(https://wstatic-prod.pubg.com/web/live/main_b936404/img/1337804.webp);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    justify-content: space-around;
    gap: 0px;
    padding-top: 20%;
}
.main-container{
    padding-bottom: 10%;
}
.name{
    color: white;
    font-size: 500%;
    font-family: 'Pubg Sans';
    text-transform: uppercase;
    margin-top: -10%;
}
@font-face {
    font-family: 'Bebas Neue';
    src: url(BebasNeue-Regular.otf);
}
.text-content{
    display: flex;
    flex-direction: column;
}
.land-loot{
    display: flex;
    color: white;
    font-size: 220%;
    text-transform: uppercase;
    text-align: center;
    justify-content: center;
    font-family: 'Bebas Neue';
    font-weight: bold;
    transform: scale(0.9,0.7);
    margin-top: -2%;
}
.app-stores{
    margin-top: 4%;
    display: flex;
    justify-content: center;
}
.app-stores span{
    width:100%;
}
.app-stores a{
    text-decoration: none;
    font-family: 'Roboto';
    font-weight: bolder;
    font-size: 120%;
    margin: 0px 0.2em;
    color: white;
    background-color: transparent;
    appearance: none;
    padding:0.7em 3em;
    border: 1px solid white;
    transition: background-color 0.3s ease, color 0.3s ease, border 0.3s ease;
}
.app-stores a:hover{
    background-color: orange;
    color: black;
    border: 1px solid orange;
}
.yt-video{
    position: relative;
    margin-top: 45%;
    width: 100%;
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: space-around;
    z-index: 1;
}
.in-yt-video{
    display: flex;
}
.desc-text-container{
    position: absolute;
    top: 0%;
    left: 10%;
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-between;
}
.patch-notes{
    color: white;
    font-family: 'Pubg Sans';
}
.patch-notes{
    position: relative;
}
.patch-notes img{
    display: block;
}
.pn-text{
    position: relative;
    font-size: 300%;
    width: 40%;
}
.pn-text::first-letter{
    color: orange;
}
.pn-text a{
    text-decoration: none;
    color: white;
    position: relative;
}
.pn-text::after{
    content: '';
    text-decoration: underline;
    position: absolute;
    top: 80%;
    left:0;
    height: 2px;
    background-color: white;
    width: 0%;
    transition: width 0.3s ease;
}
.pn-text:hover::after{
    width:100%;
}
.hyper-links{
    position: relative;
    width:100%;
}
.hyper-links a{
    text-decoration: none;
    color: white;
    font-family: 'Roboto';
    text-transform: uppercase;
    border: 1px solid white;
    padding: 0.5% 4%;
    margin-left: 2px;
    margin-right: 2px;
    border-radius: 5px;
    font-size: 70%;
    transition: color 0.3s ease, border 0.3s ease;
}
.hyper-links a:hover{
    color: orange;
    border-width: 1px;
    border-style: solid;
    border-color: orange;
}
.pn-desc{
    position: relative;
    font-family: "Roboto";
}
.pn-desc-heading{
    font-weight: bolder;
    font-size: 200%;
}
.pn-desc-desc{
    font-size: 90%;
    padding-bottom: 10%;
}
.pn-desc-desc::first-line{
    color: rgb(159, 159, 159);
}
.news{
    position: relative;
    color: white;
    font-size: 400%;
    font-family: 'Pubg Sans';
    transition: color 0.3s ease;
    margin-top: 5%;
}
.news a{
    text-decoration: none;
    color: white;
    transition: color 0.3s ease;
}
.news::before{
    position: absolute;
    content: "\f061";
    top: 25%;
    left: 110%;
    font-family: "Font Awesome 6 Free";
    font-weight: 900;
    font-size: 50%;
}
.news::after{
    position: absolute;
    background-color: orange;
    text-decoration: underline;
    top: 82%;
    left: 1%;
    width: 0%;
    content:'';
    height: 2px;
    transition: width 0.3s ease;
}
.news:hover::after{
    width:100%;
}
.news:hover{
    color: orange;
}
.news a:hover{
    color: orange;
}
.news-tabs{
    position: relative;
    max-width: 100%;
    width: 100%;
    display: flex;
    justify-content: space-around;
    padding: 0 3%;
    box-sizing: border-box;
    margin-top: 5%;
}
.news-container{
    position: relative;
    display: flex;
    flex-direction: column;
    width: 30%;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.news-container:hover{
    transform: translateY(-5%);
    box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.news-text{
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    top: 52%;
    left: 3%;
    height: 40%;
}
.news-text p{
    margin: 0;
}
.pc, .console{
    text-decoration: none;
    font-family: 'Roboto';
    border-radius: 5px;
    padding: 0.5% 4%;
    font-size: 80%;
    font-weight: bold;
    text-transform: uppercase;
}
.pc{
    color: orange;
    border: 1px solid orange;
}
.console{
    color: grey;
    border: 1px solid grey;
}
.news-header{
    font-family: 'Roboto';
    font-weight: 900;
    font-size: x-large;
    text-transform: uppercase;
    font-size: 120%;
}
.news-desc{
    font-family: 'Roboto';
    color: rgb(49, 49, 49);
    font-style: italic;
    font-size: 100%;
    font-stretch: ultra-condensed;
}
.announcement{
    font-family: 'Roboto';
    font-weight: bold;
    font-stretch: ultra-condensed;
    font-size: 80%;
    text-transform: uppercase;
    color: orange;
}
.news-footer{
    font-family: 'Roboto';
    font-weight: bold;
    font-size: 80%;
    color: rgb(174, 174, 174);
    font-stretch: ultra-condensed;
    letter-spacing: -1px;
}
.news-footer-container{
    display: flex;
    gap: 20%;
}
.grey-noise{
    background-image: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)), url(https://us1.discourse-cdn.com/webflow1/original/4X/4/0/9/409887b5ae60438bb7637527278c082a360d81a9.gif);
    height: 100%;
    padding: 1% 0%;
    background-repeat: none;
    background-size: contain;
    border: none;
    color: transparent;
    text-transform: uppercase;
    font-family: 'Pubg Sans';
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    font-size: 1400%;
    -webkit-text-stroke: 2px rgb(88, 88, 88);
    letter-spacing: 10px;
}
.scroll-container{
    display: flex;
    overflow: hidden;
    width: 100%;
}
.grey-noise-top{
    animation: textscroll 60s linear infinite;
    white-space: nowrap;
}
.grey-noise-bottom{
    animation: textscroll-inverse 60s linear infinite;
    white-space: nowrap;
}
.grey-noise p{
    margin: 0px 2.5%;
}
@keyframes textscroll{
    0% {transform: translateX(0);}
    100% {transform: translateX(-100%);}
}
@keyframes textscroll-inverse{
    0% {transform: translateX(-100%);}
    100% {transform: translateX(0);}
}
.white-bg img{
    width: 100%;
}
.Events{
    position: relative;
    color: black;
    font-size: 400%;
    font-family: 'Pubg Sans';
    transition: color 0.3s ease;
}
.Events a{
    color: black;
    text-decoration: none;
    transition: color 0.3s ease;
}
.Events::before{
    position: absolute;
    top: 25%;
    left: 102%;
    content: "\f061";
    font-family: "Font Awesome 6 Free";
    font-weight: 900;
    font-size: 50%;
}
.Events::after{
    position: absolute;
    width:0%;
    background-color: orange;
    content:'';
    top: 80%;
    left: 1%;
    text-decoration: underline;
    height: 2px;
    transition: width 0.3s ease;
}
.Events:hover::after{
    width:100%;
}
.Events a:hover{
    color: orange
}
.Events:hover{
    color: orange
}
.events-tabs{
    position: relative;
    max-width: 100%;
    width: 100%;
    display: flex;
    justify-content: space-around;
    color: white;
    box-sizing: border-box;
}
.events-container{
    position: relative;
    display: flex;
    flex-direction: column;
    width: 35%;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.events-container:hover{
    transform: translateY(-5%);
    box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 0.5);
}
.events-image-container{
    display: flex;
    flex-direction: column;
    overflow: hidden;
}
.events-bg-texture{
    height: 250px;
}
.events-text{
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    top: 55%;
    left: 4%;
    height: 40%;
}
.pc, .console{
    text-decoration: none;
    font-family: 'Roboto';
    border-radius: 5px;
    padding: 0.5% 4%;
    font-size: 80%;
    font-weight: bold;
    text-transform: uppercase;
}
.pc{
    color: orange;
    border: 1px solid orange;
}
.console{
    color: grey;
    border: 1px solid grey;
}
.events-header{
    font-family: 'Roboto';
    font-weight: 600;
    font-size: 140%;
    text-transform: uppercase;
}
.events-text p{
    margin: 0;
}
.events-desc{
    font-family: 'Roboto';
    color: rgb(255, 255, 255);
    font-weight: 200;
    font-size: 100%;
    font-style: italic;
}
.announcement{
    font-family: 'Roboto';
    font-weight: bold;
    font-stretch: ultra-condensed;
    font-size: 80%;
    text-transform: uppercase;
    color: orange;
}
.events-footer{
    font-family: 'Roboto';
    font-weight: bold;
    font-size: 80%;
    color: rgb(174, 174, 174);
    font-stretch: ultra-condensed;
    letter-spacing: -1px;
}
.events-footer-container{
    display: flex;
    gap: 20%;
}
.floating-stuff{
    position: absolute;
    top: 0;
    left: 0;
    height: auto;  
    min-height: 100%;
    overflow: visible; 
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    width: 100%;
    z-index: 2;
}
.footer{
    background-color: black;
    max-height: 85%;
    display: flex;
    flex-direction: column;
    width: 100%;
    align-content: center;
    align-items: center;
    justify-content: space-between;
}
.socials{
    display: flex;
    width: 100%;
    justify-content: space-between;
    box-sizing: border-box;
    padding: 5% 39%;
}
.socials button{
    appearance: none;
    text-align: center;
    background-color: transparent;
    color: white;
    font-size: 110%;
    padding: 0.7em 0.8em;
}
#facebook{
    background-color: rgb(0, 136, 255);
    border: 1px solid rgb(0, 136, 255);
    border-radius: 12px;
    transition: background-color 0.3s ease, border 0.3s ease, color 0.3s ease;
}
#facebook:hover{
    background-color: rgb(255, 255, 255);
    border: 1px solid rgb(255, 255, 255);
    color: rgb(0, 136, 255);
    border-radius: 12px;
}
#x{
    background-color: rgb(0, 0, 0);
    border: 1px solid rgb(255, 255, 255);
    border-radius: 10px;
    transition: background-color 0.3s ease, border 0.3s ease, color 0.3s ease;
}
#x:hover{
    background-color: white;
    color: black;
    border: 1px solid black
}
#instagram{
    background-color: rgb(157, 0, 255);
    border: 0px solid rgb(157, 0, 255);
    border-radius: 10px;
    transition: background-color 0.3s ease, color 0.3s ease;
}
#instagram:hover{
    background-color: white;
    color: rgb(157, 0, 255);
}
#yt{
    background-color: rgb(255, 0, 0);
    border: 0px solid rgb(255, 0, 0);
    border-radius: 10px;
    transition: background-color 0.3s ease, color 0.3s ease;
}
#yt:hover{
    background-color: white;
    color: rgb(255, 0, 0);
}
#discord{
    background-color: rgb(68, 121, 255);
    border: 0px solid rgb(68, 121, 255);
    border-radius: 10px;
    transition: background-color 0.3s ease, border 0.3s ease, color 0.3s ease;
}
#discord:hover{
    background-color: white;
    color: rgb(68, 121, 255);
}
#reddit{
    background-color: rgb(255, 77, 0);
    border: 1px solid rgb(255, 77, 0);
    border-radius: 10px;
    transition: background-color 0.3s ease, border 0.3s ease, color 0.3s ease;
}
#reddit:hover{
    background-color: white;
    color: rgb(255, 77, 0);
}
.logo-marks{
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: space-around;
    margin-bottom: 5%;
}
.logo-marks img{
    width: 30%;
}
.footer-navlinks{
    display: flex;
    justify-content: space-around;
    width: 100%;
    padding: 0 20%;
    box-sizing: border-box;
    margin-bottom: 5%;
    color: grey;
}
.footer-navlinks a{
    text-decoration: none;
    color: grey;
    text-transform: uppercase;
    transition: color 0.3s ease;
}
.footer-navlinks a:hover{
    color: white;
}
.marker{
    display: flex;
    justify-content: space-around;
    margin-bottom: 5%;
    padding: 1%;
    border: 1px solid white
}
.marker img{
    width: 90%;
}